In [1]:
from fontion_API import get_data_debit, build_graph, create_graph, create_graph_periode
import pandas as pd

In [ ]:
site_affluent_rhone = pd.read_csv("database/site_affluent_rhone.csv")
confluence = pd.read_csv("database/confluence.csv")
# sauver

In [3]:
graph = create_graph_periode(site_affluent_rhone=site_affluent_rhone,confluence=confluence, date_debut="2023-11-01", date_fin="2023-12-31", month=False)

In [4]:
# les elements avec source = Le Rhône_521.0 en premier dans le dataframe graph
graph = graph.sort_values(by="source", ascending=False)

In [10]:
graph

           source          target     value  distance_end code_site       date
8   Le Rhône_99.0   Le Rhône_61.0  2649.354          99.0  V5480001 2023-11-13
8   Le Rhône_99.0   Le Rhône_61.0  5258.896          99.0  V5480001 2023-12-14
8   Le Rhône_99.0   Le Rhône_61.0  2524.729          99.0  V5480001 2023-11-12
8   Le Rhône_99.0   Le Rhône_61.0  3317.021          99.0  V5480001 2023-12-06
7   Le Rhône_99.0   Le Rhône_61.0  2516.250          99.0  V5480001 2023-12-27
..            ...             ...       ...           ...       ...        ...
11     L'Ain_19.0  Le Rhône_217.0   191.112         386.0  V2942010 2023-11-19
11     L'Ain_19.0  Le Rhône_217.0   193.989         386.0  V2942010 2023-11-08
10     L'Ain_19.0  Le Rhône_217.0   192.185         386.0  V2942010 2023-12-28
11     L'Ain_19.0  Le Rhône_217.0   577.387         386.0  V2942010 2023-12-15
11     L'Ain_19.0  Le Rhône_217.0   286.553         386.0  V2942010 2023-12-09

[1525 rows x 6 columns]

In [11]:
# sauvegarder le graph en csv
graph.to_csv("database/graph.csv", index=False)

In [14]:
graph["code_site"].unique()

array(['V5480001', 'V1000010', 'V1020020', 'V1264024', 'V1264022',
       'V1630020', 'V4010010', 'U4300010', 'V3000020', 'X3020010',
       'X3210201', 'X3310010', 'X3500010', 'W3200010', 'W1300010',
       'W1310010', 'W1400001', 'W1410010', 'V5014040', 'V5014010',
       'V5035022', 'V5054010', 'V5064010', 'V5004030', 'V5131010',
       'V2712010', 'V2942010'], dtype=object)

In [66]:
# verifier qu'il y a les memes sources pour chaque date dans graph
list_source = []
for date in graph["date"].unique():
    source = graph[graph["date"] == date]["source"].unique()
    list_source.append(source)
# donner les sources qui sont dans toutes les dates
source_commune = list_source[0]
for source in list_source:
    source_commune = [x for x in source_commune if x in source]

In [67]:
# trouver les sites qui sont dans source_commune
site_communs = site_affluent_rhone[site_affluent_rhone["source"].isin(source_commune)]["code_site"]

In [69]:
print([len(source) for source in list_source])

[27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27]

In [71]:
site_affluent_rhone[site_affluent_rhone["source"] == "Le Rhône_144.0"]

,geometry,river_name,distance,code_site,source
14,POINT (831247.9998911195 6364615.004544967),Le Rhône,144.0,V4570010,Le Rhône_144.0